<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="/css/base.css">
</head>
<body>
<div th:fragment="sidebar">
    <aside class="sidebar">
        <div class="sidebar-title"><img src="/img/unearth_logo.png" alt="UNEARTH 로고" class="header-logo" /></div>
        <a th:href="@{/right-holder/list}" 
           th:class="${activeMenu == 'rightHolderList'} ? 'sidebar-menu active' : 'sidebar-menu'" 
           class="sidebar-menu">권리자 관리</a>
        <a th:href="@{/song/list}" 
           th:class="${activeMenu == 'songRegister'} ? 'sidebar-menu active' : 'sidebar-menu'" 
           class="sidebar-menu">음원 관리</a>
        <a th:href="@{/crawling/failures}" 
           th:class="${activeMenu == 'crawlingFailures'} ? 'sidebar-menu active' : 'sidebar-menu'" 
           class="sidebar-menu">
            크롤링 실패 목록
            <span th:if="${crawlingFailureCount != '0'}" 
                  class="failure-count-badge" 
                  th:text="${crawlingFailureCount}"></span>
        </a>
        <a th:href="@{/admin/password/change}" 
           th:class="${activeMenu == 'adminPasswordChange'} ? 'sidebar-menu active' : 'sidebar-menu'" 
           class="sidebar-menu">관리자 비밀번호 변경</a>
    </aside>
</div>
</body>
</html> 